In [5]:
import pandas as pd
import requests 
import json
from pandas.io.json import json_normalize
import numpy as np
import os

In [6]:
path = 'wyniki_wyborow/Simplyfiy/'
files = list(filter(lambda x: os.path.isfile(path+x), os.listdir(path)))
files.sort()
files

['2001_O_simplified.csv',
 '2005_O_simplified.csv',
 '2007_O_simplified.csv',
 '2011_O_simplified.csv',
 '2015_O_simplified.csv',
 '2019_O_simplified.csv']

In [53]:
simp_list = [pd.read_csv("wyniki_wyborow/Simplyfiy/"+f).iloc[:,:-1].sum(0)[1:] for f in files]

In [54]:
df = pd.concat(simp_list, axis=1).T
df.index = pd.Series([2001,2005,2007,2011,2015,2019],dtype='int64', name='index')
df['n'] = df.sum(1)
df['p'] = df['Blue']/df['n']
df

              Blue          Red           n         p
index
2001   4.75822e+06   1.6511e+06   6409317.0  0.742391
2005   6.29549e+06      4184516  10480003.0  0.600714
2007       6621115      8823991  15445106.0  0.428687
2011   4.29502e+06  9.45519e+06  13750210.0   0.31236
2015    7.8302e+06  5.96369e+06  13793888.0  0.567657
2019   1.08874e+07   7.3803e+06  18267712.0  0.595992

In [55]:
no_pools = pd.read_csv('dane_years/pools_data/no_votes.csv', index_col=0, header=0).iloc[:,:-1]
no_pools = no_pools.round()
no_pools['n'] = no_pools.sum(1)
no_pools['p'] = no_pools['Blue']/no_pools['n']
no_pools = no_pools.loc[[2001,2005,2007,2011,2015,2019],:]
no_pools

         Blue     Red       n         p
index
2001   1265.0   778.0  2043.0  0.619187
2005   2512.0  1538.0  4050.0  0.620247
2007   1979.0  2834.0  4813.0  0.411178
2011   1506.0  4042.0  5548.0  0.271449
2015   4053.0  3652.0  7705.0  0.526022
2019   5349.0  2870.0  8219.0  0.650809

In [57]:
for i in range(df.shape[0]):
    n1 = df.iloc[i,2]
    n2 = no_pools.iloc[i,2]
    
    p1 = df.iloc[i,3]
    p2 = no_pools.iloc[i,3]
    
    p = (n1*p1 + n2*p2) / (n1 + n2)
    
    z = (p1-p2) / np.sqrt( p*(1-p)*(1/n1+1/n2) ) 
    print(z, np.abs(p1-p2))

12.731185907148092 0.12320333447979437
-2.5376450975970783 0.019532677143482502
2.4540972897972466 0.01750886574341215
6.57381076479407 0.04091085853807347
7.375040981927118 0.041635075566856417
-10.125503140684787 0.054817057634793054